<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3 text-center"> Air Search <i class="fa fa-plane " style="color: #1650ff;"> </i></h1>
    <%= erb :search_box %>
  </div>
</div>

<div class="container">
<div class="row">
<i class="fa fa-refresh fa-spin fa-5x mx-auto" id="refresh-icon" > </i>
<code id="raw-json">

<code> 
</div>

</div>


