<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3 text-center"> Find your Air Ride <i class="fa fa-plane " style="color: #1650ff;"> </i></h1>
    <%= erb :search_box %>
  </div>
</div>