<form id="target" action="/search" method="POST">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search" id="search-text" required />
    <%= erb :search_dropdown %>
  
   <button class="btn btn-lg" id="button-submit"> <i class="fa fa-search "> Go </i> </button>
  </div>

  
</form>