<input type="hidden" name="search-text" value="">
<input type="hidden" name="search-category" value="">
<div class="input-group-btn input-lg">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="search-button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" >
     <svg style="width:24px;height:24px" viewBox="0 0 24 24">
     <path fill="#000000" d="M2.5,19H21.5V21H2.5V19M22.07,9.64C21.86,8.84 21.03,8.36 20.23,8.58L14.92,10L8,3.57L6.09,4.08L10.23,11.25L5.26,12.58L3.29,11.04L1.84,11.43L3.66,14.59L4.43,15.92L6.03,15.5L11.34,14.07L15.69,12.91L21,11.5C21.81,11.26 22.28,10.44 22.07,9.64Z" />
    </svg>&nbsp; Flight 
   </button>  
    <div class="dropdown-menu" aria-labelledby="search-button">
        <a class="dropdown-item" href="#">
        <div>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M2.5,19H21.5V21H2.5V19M22.07,9.64C21.86,8.84 21.03,8.36 20.23,8.58L14.92,10L8,3.57L6.09,4.08L10.23,11.25L5.26,12.58L3.29,11.04L1.84,11.43L3.66,14.59L4.43,15.92L6.03,15.5L11.34,14.07L15.69,12.91L21,11.5C21.81,11.26 22.28,10.44 22.07,9.64Z"
                />
            </svg> &nbsp; Flight
            </div>
        </a>

        <a class="dropdown-item" href="#">
            <div>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M2.5,19H21.5V21H2.5V19M9.68,13.27L14.03,14.43L19.34,15.85C20.14,16.06 20.96,15.59 21.18,14.79C21.39,14 20.92,13.17 20.12,12.95L14.81,11.53L12.05,2.5L10.12,2V10.28L5.15,8.95L4.22,6.63L2.77,6.24V11.41L4.37,11.84L9.68,13.27Z"
                />
            </svg> &nbsp; Airport
            </div>
        </a>

        <a class="dropdown-item" href="#">
           <div>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M19,15H17V13H19M19,19H17V17H19M13,7H11V5H13M13,11H11V9H13M13,15H11V13H13M13,19H11V17H13M7,11H5V9H7M7,15H5V13H7M7,19H5V17H7M15,11V5L12,2L9,5V7H3V21H21V11H15Z"
                />
            </svg> &nbsp; City
            </div>
        </a>
    </div>

</div>